.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  color: white;
}

.card > img {
  width: 5rem;
  height: 5rem;
}

.primary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 15vh;
  width: 25rem;
  padding: 0 0.5rem;
}

.primary > span {
  margin-top: 0.5rem;
  grid-column: 1 / span 2;
}

.primary > img {
  width: 10rem;
  height: 10rem;
}
.name {
  background-color: #00000042;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

.card + .card {
  border-left: solid 1px #ffffff80;
}

.temp {
  display: flex;
  flex-direction: column;
  width: 3rem;
  justify-content: center;
  text-align: center;
}

.temp + .temp {
  margin-left: 1rem;
}

.temps {
  display: flex;
}

.btn {
  border: solid 2px transparent;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  width: 1.5rem;
  padding: 0;
  height: 1.5rem;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #ffffff;
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}

.btn:hover {
  background-color: #ffffff50;
}

@media only screen and (max-width: 425px) {
  .primary {
    padding: 0;
    width: 16rem;
  }
  .primary img {
    height: 100px;
    width: 104px;
  }
  .primary span {
    margin-left: 7px;
  }
}
